body {
  width: 80%;
  /* background-color: black; */
  color: black;

}


#header-id {
  /* background-color: grey; */
}

#content{
  
  
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  
  /* background-color: rgb(225, 224, 224); */
  /* color: white; */

}

.title-background {
  border: 1px solid black;
  background-color: rgb(154, 147, 163);
}

.section-style {
  /* width: 30%; */
  /* background-color: rgb(16, 2, 32); */
  padding: 10px;
}